@charset "utf-8";
@use "./reset.scss";

$main-color: #002fa7;
$text-color: #4a4a4a;

// 全局样式
$tablet: 768px;
$desktop: 1024px;

.card {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 .5em 1em -.125em #0a0a0a1a, 0 0 0 1px #0a0a0a05;
  color: #4a4a4a;
  display: block;
  padding: 1rem;
  border: 1px solid #dee2e6;

}

.vhtml {
  width: 100%;
  max-width: 100%;
}

.breadcrumb {
  margin-bottom: 1rem;

  a,
  span {
    padding: 0.2rem 0;
  }

  a {
    color: $main-color;

    &::after {
      content: "/";
      margin: 0 0.5rem;
      color: $text-color;
    }
  }
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

@mixin screen($breakpoint) {
  @if $breakpoint =="mobile" {
    @media screen and (max-width: $tablet) {
      @content;
    }
  }

  @if $breakpoint =="tablet" {
    @media screen and (min-width: $tablet) {
      @content;
    }
  }

  @else if $breakpoint =="desktop" {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }
}